.every {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.95),
      rgba(0, 22, 46, 0.95)
    ),
    url("../photos/pexels1.jpg");
  background-size: cover;
}
.body {
  padding-top: 50px;
  color: #fff;
}

$breakpoint-tablet: 568px;
@media (min-width: $breakpoint-tablet) {
  .body {
    display: flex;
    flex-direction: column;
  }
}
