.main-container {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.95),
      rgba(0, 22, 46, 0.95)
    ),
    url("../photos/pexels1.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  outline: none;
  padding: 20px 7%;
  border-radius: 20px;
  border: none;
  margin-bottom: 5%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.45),
      rgba(0, 22, 46, 0.55)
    ),
    url("../photos/pexels1.jpg");
  background-size: cover;
  color: #fff;
  font-size: 1.2rem;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 8%;
  border-radius: 20px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.45),
      rgba(0, 22, 46, 0.55)
    ),
    url("../photos/pexels1.jpg");
  background-size: cover;
  color: #fff;
}

p {
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.city sup {
  font-size: 0.5em;
}

.city-name {
  font-size: 2em;
}

.city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  border-radius: 30px;
  color: #fff;
  background: #ff8c00;
}

.city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .search {
    padding: 20px 15%;
  }

  .city {
    padding: 40px 20%;
  }
}
